@charset "utf-8";
html{
    width: 100%;
    height: 812px;
    /* background-color: aqua; */
    font-family: 'Noto Sans JP', sans-serif;
    
}

header{
    background-color: azure;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
    border-bottom: 1px solid rgb(71, 69, 69);
    
}

input{
    border: 1px solid rgb(110, 107, 107);
    margin-top: 16px;
}

main{
    width: 30%;
    /* background-color: blueviolet; */
    text-align: left;
    margin: 0 auto;
    margin-top: 24px;
}

ul{
    list-style-type: none;
}

.den{
    color: crimson;
}

a{
    color: rgb(71, 69, 69);
}

a:hover{
    color: blue;
}


main form input:hover{
    opacity: 0.7;
}